<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-用户权限-组织机构维度|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=uum,child=user)">菜单栏</div>
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>用户权限</cite></a> <a href="#">用户管理</a> <a><cite>列表</cite></a>
					</span>
				</div>
				<blockquote class="layui-elem-quote layui-quote-nm">
					<div class="layui-inline">
						<div class="layui-input-inline">
							<a th:href="@{/admin/c/user/add.gsp}" class="layui-btn"><i class="layui-icon">&#xe608;</i> 新增 </a>
						</div>
					</div>
				</blockquote>
				<table cellspacing="0" width="100%" class="layui-table" lay-even="" lay-skin="row">
					<thead>
						<tr>
							<th style="width: 40px;">#</th>
							<th style="width: 60px;">状态</th>
							<th>用户名</th>
							<th>真实姓名</th>
							<th>最后登录时间</th>
							<th>最后登录IP</th>
							<th>可否编辑</th>
							<th style="width: 90px;">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${userList == null or userList.size() == 0}">
							<td colspan="8" style="text-align: center;">暂时没有数据</td>
						</tr>
						<tr th:each="user,itemStat:${userList}">
							<td th:text="${itemStat.index+1}" style="text-align: center;"></td>
							<td class="layui-form"><input th:if="${user.editable==1}" lay-filter="filter" th:id="${user.id}" lay-skin="switch" type="checkbox" th:attr="checked=${user.userEnabled ==1}"><input th:if="${user.editable==2}" type="checkbox" name="close" lay-skin="switch" disabled></td>
							<td th:text="${user.username}" style="text-align: center;"></td>
							<td th:text="${user.realname}" style="text-align: center;"></td>
							<td th:text="${user.lastLoginTime}==null?'':${#dates.format(user.lastLoginTime,'yyyy-MM-dd HH:mm:ss')}" style="text-align: center;"></td>
							<td th:text="${user.lastLoginIp}" style="text-align: center;"></td>
							<td style="text-align: center;"><label th:if="${user.editable==1}" style="color: green;">可编辑</label><label th:if="${user.editable==2}" style="color: orange;">不可编辑</label></td>
							<td><a th:if="${user.editable==2}" class="layui-btn layui-btn-disabled layui-btn-small"> <i class="layui-icon"></i></a> <a th:if="${user.editable==2}" class="layui-btn layui-btn-disabled layui-btn-small"><i class="layui-icon"></i></a> <a th:if="${user.editable==1}"
								th:href="|@{/admin/c/user/edit_}${user.id}.gsp|" class="layui-btn layui-btn-small"> <i class="layui-icon"></i></a> <a th:if="${user.editable==1}" th:onclick="|del('${user.id}')|" class="layui-btn layui-btn-normal layui-btn-small"> <i class="layui-icon"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
    var form = layui.form();
    var enableUrl = /*[[@{/admin/c/user/enable_{id}.gsp}]]*/;
    var disableUrl = /*[[@{/admin/c/user/disable_{id}.gsp}]]*/;
    form.on('switch(filter)', function(data){
        var id = data.elem.id;
        if(!$("#" + data.elem.id).prop("checked")){  
            layer.confirm('您确定要停用吗？', {
                btn: ['确定','取消'] 
            }, function(){
             //停用
             var url = disableUrl.replace("{id}",data.elem.id);
             $.post(url,{'id':data.elem.id},function(){    
                 $("#" + data.elem.id).prop("checked", false);
                 $("#" + data.elem.id).next().removeClass("layui-form-onswitch");
             });  
             layer.msg('停用成功！', {icon: 1});
             setTimeout(function(){window.location.reload();},1000);
            }, function(){
                $("#" + data.elem.id).prop("checked", true);
                $("#" + data.elem.id).next().addClass("layui-form-onswitch");
            });
        }else if($("#" + data.elem.id).prop("checked")){   
            layer.confirm('您确定要启用吗？', {
                btn: ['确定','取消'] 
            }, function(){
          //启用
          var url = enableUrl.replace("{id}",data.elem.id);
          $.post(url,{'id':data.elem.id},function(){
              $("#" + data.elem.id).prop("checked", true);
              $("#" + data.elem.id).next().addClass("layui-form-onswitch");
          });
          layer.msg('启用成功！', {icon: 1});
          setTimeout(function(){window.location.reload();},1000);
          }, function(){
              $("#" + data.elem.id).prop("checked", false);
              $("#" + data.elem.id).next().removeClass("layui-form-onswitch");
          });
        }    
    });  
    var deleteUrl = /*[[@{/admin/c/user/delete_{id}.gsp}]]*/;
    function del(id){
        tg_deleteItem(deleteUrl.replace('{id}',id), function(){
            location.reload();
        });       
    }
    /*]]>*/
</script>
