#app-header {
	background-color: #2a3f5d;
	border-bottom: 1px solid #121b28
}

#app-header-title {
	padding: 15px 0 10px 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold
}

#app-header-logo {
	width: 40px;
	height: 25px;
	background: url(../imgs/common/header_logo.png) no-repeat center 4px
}

#app-header-menu {
	background-image: url(../imgs/icons/options.png);
	width: 22px;
	height: 22px
}
