<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-管理中心-系统监控-缓存监控|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/***** 当前页css  start *****/-->
<!--/***** 当前页css  end *****/-->
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=index,child=about)">菜单栏</div>
		<!--/*******内容*******/-->
		<div class="layui-body">
			<table class="layui-table">
				<thead>
					<tr>
						<th>#</th>
						<th>参数名称</th>
						<th>参数值</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="resultItem,itemStat : ${resultList}" class="gradeX">
						<td th:text="${itemStat.index+1}">1</td>
						<td th:text="${resultItem.name}">name</td>
						<td th:text="${resultItem.value}">value</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragments/footer_admin">底部版权信息等</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
</html>