<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-系统监控-线程监控|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/* 当前页css */-->
</head>
<body class="theme-turquoise fixed-header fixed-leftmenu fixed-footer">
	<div id="theme-wrapper">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div id="page-wrapper" class="container">
			<div th:replace="fragments/menu_admin::menu(root=monitor,current=thread)">菜单栏</div>
			<div id="content-wrapper">
				<div th:replace="fragments/breadcrumbs_admin::breadcrumbs(parent=系统监控,current=线程监控)">面包屑栏</div>
				<div class="main-box clearfix">
					<header class="main-box-header clearfix">
						<h2>线程监控</h2>
					</header>
					<div class="main-box-body clearfix">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th width="100">线程状态</th>
									<th width="100">线程ID</th>
									<th>线程名称</th>
									<th>lockName</th>
									<th>lockOwnerName</th>
									<th width="100">cpuTime(秒)</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="resultItem,itemStat : ${result.moitorThreadinfos}" class="gradeX">
									<td><span th:if="${resultItem.state == 'NEW'}" class="label label-info" th:text="${resultItem.state}">state</span> <span th:if="${resultItem.state == 'RUNNABLE'}" class="label label-primary" th:text="${resultItem.state}">state</span> <span th:if="${resultItem.state == 'RUNNING'}"
										class="label label-primary" th:text="${resultItem.state}">state</span> <span th:if="${resultItem.state == 'WAITING'}" class="label label-default" th:text="${resultItem.state}">state</span> <span th:if="${resultItem.state == 'TIMED_WAITING'}" class="label label-default"
										th:text="${resultItem.state}">state</span> <span th:if="${resultItem.state == 'BLOCKED'}" class="label label-warnning" th:text="${resultItem.state}">state</span> <span th:if="${resultItem.state == 'DEAD'}" class="label label-dnager" th:text="${resultItem.state}">state</span></td>
									<td th:text="${resultItem.id}">id</td>
									<td th:text="${resultItem.name}" class="text-success">name</td>
									<td th:text="${resultItem.lockName}">lockName</td>
									<td th:text="${resultItem.lockOwnerName}">lockOwnerName</td>
									<td th:text="${resultItem.cpuTime}" class="text-danger">cpuTime</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:replace="fragments/footer_admin">底部</div>
			</div>
		</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
<!--/* 当前页js */-->
</html>