<!DOCTYPE HTML>
<html>
<head>
<title>图灵谷（北京）科技有限公司-解决方案</title>
<div th:replace="default/fragments/head">head</div>
<link th:href="@{/template/default/_resources/css/magnific-popup.css}" rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="wrapper">
		<div th:replace="default/fragments/nav">head</div>
		<div class="container banner">
			<section class="title-section">
				<ul class="breadcrumb breadcrumb__t">
					<li><a th:href="@{/index.htm}">图灵谷科技</a></li>
					<li class="active">解决方案</li>
				</ul>
			</section>
		</div>
		<div class="main">
			<div class='container services_top'>
				<div class="portfolio_top">
					<div class="col_1_of_portfolio span_1_of_portfolio">
						<div class="view view-first">
							<img th:src="@{/template/default/_resources/images/s1.jpg}" class="img-responsive" alt="" />
							<div class="mask">
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<div class="info">
										<img th:src="@{/template/default/_resources/images/magnifier.png}" alt="" />
									</div>
								</a>
								<div id="small-dialog1" class="mfp-hide">
									<div class="pop_up2">
										<img th:src="@{/template/default/_resources/images/s1.jpg}" class="img-responsive" alt="" />
										<h3 class="popup">
											<a href="#">广电行业</a>
										</h3>
										<p class="m_5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col_1_of_portfolio span_1_of_portfolio">
						<div class="view view-first">
							<img th:src="@{/template/default/_resources/images/s2.jpg}" class="img-responsive" alt="" />
							<div class="mask">
								<a class="popup-with-zoom-anim" href="#small-dialog2">
									<div class="info">
										<img th:src="@{/template/default/_resources/images/magnifier.png}" alt="" />
									</div>
								</a>
								<div id="small-dialog2" class="mfp-hide">
									<div class="pop_up2">
										<img th:src="@{/template/default/_resources/images/s2.jpg}" class="img-responsive" alt="" />
										<h3 class="popup">
											<a href="#">交通行业</a>
										</h3>
										<p class="m_5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col_1_of_portfolio span_1_of_portfolio">
						<div class="view view-first">
							<img th:src="@{/template/default/_resources/images/s3.jpg}" class="img-responsive" alt="" />
							<div class="mask">
								<a class="popup-with-zoom-anim" href="#small-dialog3">
									<div class="info">
										<img th:src="@{/template/default/_resources/images/magnifier.png}" alt="" />
									</div>
								</a>
								<div id="small-dialog3" class="mfp-hide">
									<div class="pop_up2">
										<img th:src="@{/template/default/_resources/images/s3.jpg}" class="img-responsive" alt="" />
										<h3 class="popup">
											<a href="#">教育行业</a>
										</h3>
										<p class="m_5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="portfolio_top">
					<div class="col_1_of_portfolio span_1_of_portfolio">
						<div class="view view-first">
							<img th:src="@{/template/default/_resources/images/s4.jpg}" class="img-responsive" alt="" />
							<div class="mask">
								<a class="popup-with-zoom-anim" href="#small-dialog4">
									<div class="info">
										<img th:src="@{/template/default/_resources/images/magnifier.png}" alt="" />
									</div>
								</a>
								<div id="small-dialog4" class="mfp-hide">
									<div class="pop_up2">
										<img th:src="@{/template/default/_resources/images/s4.jpg}" class="img-responsive" alt="" />
										<h3 class="popup">
											<a href="#">移动互联网</a>
										</h3>
										<p class="m_5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col_1_of_portfolio span_1_of_portfolio">
						<div class="view view-first">
							<img th:src="@{/template/default/_resources/images/s5.jpg}" class="img-responsive" alt="" />
							<div class="mask">
								<a class="popup-with-zoom-anim" href="#small-dialog5">
									<div class="info">
										<img th:src="@{/template/default/_resources/images/magnifier.png}" alt="" />
									</div>
								</a>
								<div id="small-dialog5" class="mfp-hide">
									<div class="pop_up2">
										<img th:src="@{/template/default/_resources/images/s5.jpg}" class="img-responsive" alt="" />
										<h3 class="popup">
											<a href="#">政务系统</a>
										</h3>
										<p class="m_5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col_1_of_portfolio span_1_of_portfolio">
						<div class="view view-first">
							<img th:src="@{/template/default/_resources/images/s6.jpg}" class="img-responsive" alt="" />
							<div class="mask">
								<a class="popup-with-zoom-anim" href="#small-dialog6">
									<div class="info">
										<img th:src="@{/template/default/_resources/images/magnifier.png}" alt="" />
									</div>
								</a>
								<div id="small-dialog6" class="mfp-hide">
									<div class="pop_up2">
										<img th:src="@{/template/default/_resources/images/s6.jpg}" class="img-responsive" alt="" />
										<h3 class="popup">
											<a href="#">法务系统</a>
										</h3>
										<p class="m_5"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class='container content_middle'>
				<div class="row">
					<div class="col-md-8 middle_left">
						<ul class="test_box middle_grid">
							<li class="test_desc">
								<h4>
									<a href="#">相关行业及解决方案</a>
								</h4>
								<p>广电行业 交通行业 教育行业 移动互联 政务系统 法务系统</p> <br />
							</li>
							<div class="clearfix"></div>
						</ul>
						<ul class="test_box">
						</ul>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
			<div th:replace="default/fragments/footer">footer</div>
		</div>
	</div>
</body>
<div th:replace="default/fragments/import_js">import_js</div>
<script th:src="@{/template/default/_resources/js/jquery.magnific-popup.js}"></script>
<script>
    $(document).ready(function() {
        $('.popup-with-zoom-anim').magnificPopup({
            type : 'inline',
            fixedContentPos : false,
            fixedBgPos : true,
            overflowY : 'auto',
            closeBtnInside : true,
            preloader : false,
            midClick : true,
            removalDelay : 300,
            mainClass : 'my-mfp-zoom-in'
        });
    });
</script>
</html>
