<form th:action="@{/admin/c/role/edit.gsp}" th:object="${result}" id="editForm" role="form" action="#" method="post" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">修改角色</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<input th:field="*{id}" type="text" hidden="true" />
				<div class="form-group">
					<label class="col-xs-3 control-label"><label class="text-danger">*</label> 角色： </label>
					<div class="col-xs-7">
						<input name="*{codeNum}" placeholder="请输入角色" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label class="text-danger">*</label> 角色名称： </label>
					<div class="col-md-7">
						<input th:field="*{roleName}" placeholder="请输入角色名称" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">描 述：</label>
					<div class="col-md-7">
						<textarea th:field="*{description}" rows="4" class="form-control" placeholder="最大140个字符"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">
			<strong>提 交</strong>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
        var rules = {
            codeNum : {
                required : true
            },
            roleName : {
                required : true,
                maxlength : 20
            },
            sortOrder : {
                required : true,
                max : 999
            },
            description : {
                maxlength : 140
            }
        }
        var messages = {

        }
        myTable.add('commonWin', 'editForm', rules, messages);
    });
    /*]]>*/
</script>
