<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-内容管理-专题管理|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/***** 当前页css  start *****/-->
<!--/***** 当前页css  end *****/-->
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=content,child=guestbook)">菜单栏</div>
		<!--/*******内容*******/-->
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>内容管理</cite></a><a th:href="@{/admin/m/base/special/list.gsp}">留言管理</a><a><cite>回复留言</cite></a>
					</span>
				</div>
				<!--/*******操作*******/-->
				<form th:action="@{/admin/m/ext/guestbook/edit.gsp}" th:object="${result}" id="editForm" role="form" method="post" class="layui-form">
					<input th:field="*{id}" type="text" hidden="true" />
					<fieldset class="layui-elem-field layui-field-title">
						<legend>留言管理-回复</legend>
					</fieldset>
					<div class="layui-form-item">
						<label class="layui-form-label">状态：<span style="color: red">*</span></label>
						<div class="layui-input-block">
							<select th:field="*{state}" lay-verify="required">
								<option value="1">审核通过</option>
								<option value="2">屏蔽</option>
								<option value="10">待审核</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">是否推荐：<span style="color: red">*</span></label>
						<div class="layui-input-block">
							<select th:field="*{recommend}" lay-verify="required">
								<option value="1">是</option>
								<option value="2">否</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">回复IP：<span style="color: red">*</span></label>
						<div class="layui-input-block">
							<input type="text" th:field="*{replyIp}" lay-verify="replyIp" placeholder="请输入回复IP" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">回复时间：<span style="color: red">*</span></label>
						<div class="layui-input-inline">
							<input type="text" lay-verify="replyTime" placeholder="yyyy-mm-dd" autocomplete="off" th:field="*{replyTime}" class="layui-input" onclick="layui.laydate({elem: this})">
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">回复内容：<span style="color: red">*</span></label>
						<div class="layui-input-block">
							<textarea th:field="*{replyContent}" placeholder="最多输入140字" lay-verify="replyContent" rows="3" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部版权信息等</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
<!--/***** 当前页js start *****/-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var form = layui.form();
    var $ = layui.jquery;
  //自定义验证规则
    var rules = {
        replyIp : function(value) {
            if (value.length < 9 || value.length > 20) {
                return '回复IP在9~20个字符之间';
            }
        },
        replyContent : function(value) {
            if (value.length < 5 || value.length > 140) {
                return '描述在5~140个字符之间';
            }
        }
    };
    form.verify(rules);
    /*]]>*/
</script>
<!--/***** 当前页js end *****/-->
</html>