<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-图灵谷-内容管理-留言管理|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/***** 当前页css  start *****/-->
<link rel="stylesheet" type="text/css" th:href="@{/resources/vendor/tgCube/css/libs/dataTables.fixedHeader.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/vendor/tgCube/css/libs/dataTables.tableTools.css}" />
<!--/* Switch复选框按钮  修改是否可用用*/-->
<link th:href="@{/resources/vendor/bootstrap/plugins/toggle/css/bootstrap-toggle.min.css}" rel="stylesheet" />
<link th:href="@{/resources/vendor/tgCube/css/libs/datepicker.css}" rel="stylesheet" />
<!--/***** 当前页css  end *****/-->
</head>
<body class="theme-turquoise fixed-header fixed-leftmenu fixed-footer">
	<div id="theme-wrapper">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div id="page-wrapper" class="container">
			<div th:replace="fragments/menu_admin::menu(root=content,current=guestbook)">菜单栏</div>
			<div id="content-wrapper">
				<div th:replace="fragments/breadcrumbs_admin::breadcrumbs(parent=内容管理,current=留言管理)">面包屑栏</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="main-box">
							<header class="main-box-header">
								<div class="row m-b-sm m-t-sm">
									<form th:action="@{/admin/m/ext/guestbook/list.gsp}" id="dataTableFilterForm" class="form-horizontal" role="form" action="#" method="post">
										<div class="col-md-8"></div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-md-4 control-label">留言类型：</label>
												<div class="col-md-8 ">
													<select id="typeId" name="typeId" class="form-control">
														<option th:each="guestbookType : ${guestbookType}" th:value="${guestbookType.id}" th:text="${guestbookType.typeName}"></option>
													</select>
												</div>
											</div>
										</div>
									</form>
								</div>
							</header>
							<div class="main-box-body clearfix">
								<table id="dataTable" cellspacing="0" width="100%" class="table table-striped table-hover ">
									<thead>
										<tr>
											<th>#</th>
											<th>状态</th>
											<th>所属类型</th>
											<th>留言标题</th>
											<th>留言内容</th>
											<th>留言日期</th>
											<th>是否回复</th>
											<th>是否推荐</th>
											<th width="120">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer_admin">底部</div>
		</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
<!--/***** 当前页js start *****/-->
<script th:src="@{/resources/vendor/tgCube/js/jquery.dataTables.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/dataTables.fixedHeader.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/dataTables.tableTools.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/jquery.dataTables.bootstrap.js}"></script>
<script th:src="@{/resources/vendor/bootstrap/plugins/bootstrap-datepicker.js}"></script>
<!--/* Switch复选框按钮  修改是否可用用*/-->
<script th:src="@{/resources/vendor/bootstrap/plugins/toggle/js/bootstrap-toggle.min.js}"></script>
<!--/* 模板引擎生成数据 */-->
<script th:inline="javascript">
/*<![CDATA[*/
//表格
var myTable;
//表格列定义
var columnDefs = [ {
    //第一列，用来显示序号
    "searchable" : false,
    "orderable" : false,
    "targets" : 0
} ];
var columns = [ {
    //第一列，用来显示序号
    "data" : null
},{
    "data" : "state",
    render : function(data, type, row, meta) {
        if(data===1){
            return '已审核';
        }else if(data===2){
            return '<span class="text-success">屏蔽</span>';
        }else if(data===10){
            return '<span class="text-danger">待审核</span>';
        }
    } 
},{
    "data" : "typeName",
},{
	"data" : "title"
},{
    "data" : "gbContent"
},{
    "data" : "gbDate"
},{   
    "data" : "replyed",
    render : function(data, type, row, meta) {
        if(data===1){
            return '<span class="text-success">是</span>';
        }else{
            return '<span class="text-danger">否</span>';
        }
    } 
},{
    "data" : "recommend",
    render : function(data, type, row, meta) {
        if(data===1){
            return '<span class="text-success">是</span>';
        }else{
            return '<span class="text-danger">否</span>';
        }
    } 
},{
    "data" : null, //最后一列，操作按钮
    render : function(data, type, row, meta) {
        var editCheck = /*[[${#checkAuth.checkAuth('guestbook_edit')}]]*/;
        var delCheck = /*[[${#checkAuth.checkAuth('guestbook_delete')}]]*/;
        var result = '';        
        if(editCheck){
          	//修改按钮
            result += '<a href="'+myTable.editUrl+row.id+'.gsp" data-target="#commonWin" class="btn btn-primary btn-xs" data-toggle="modal"><i class="fa fa-edit"></i>&nbsp;回复</a>';
        }else{
            result += ' <a href="#" data-target="#commonWin" data-toggle="modal" class="btn btn-primary btn-xs disabled"><i class="fa fa-pencil"></i></a>';
        }
        if(delCheck){
            //删除按钮
            result += ' <a href="#" type="button" onclick="myTable.deleteItem(\'' + row.id + '\')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>';    
        }else{
            result += ' <a href="#" type="button" onclick="myTable.deleteItem(\'' + row.id + '\')" class="btn btn-danger btn-xs disabled"><i class="fa fa-trash-o"></i></a>';
        }  
        return result;
    } 
} ];
//ajax参数
var ajaxDataParamFun = function(d) {
    //d.simpleQueryParam = $('#simpleQueryParam').val(); //模糊查询
    d.typeId = $('#typeId').val(); //模糊查询
};

//表格setting
var setting = {
    listUrl : /*[[@{/admin/m/ext/guestbook/list.gsp}]]*/'url',
    editUrl : /*[[@{/admin/m/ext/guestbook/edit_}]]*/'url',
    deleteUrl : /*[[@{/admin/m/ext/guestbook/delete_}]]*/'url',
    columnDefs : columnDefs, //表格列定义
    columns : columns, //表格列
    dataTableDiv : 'dataTable', //表格
    ajaxDataParamFun : ajaxDataParamFun, //ajax参数
    pageable : true, //是否分页
    showIndexColumn : true, //是否显示第一列的索引列
    enabledChange : true
};
//创建表格
myTable = new TG_Tabel.createNew(setting);
//加载完成后执行
$(function() {
    //表格初始化
    myTable.init();
});
$("#typeId").change(function() {
    myTable.refresh();
});
/*]]>*/
</script>
</html>
