<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-关于系统|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/* 当前页css */-->
<link th:href="@{/resources/vendor/tgCube/css/libs/timeline.css}" rel="stylesheet" />
</head>
<body class="theme-turquoise fixed-header fixed-leftmenu fixed-footer">
	<div id="theme-wrapper">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div id="page-wrapper" class="container">
			<div th:replace="fragments/menu_admin::menu(root=other,current=about)">菜单栏</div>
			<div id="content-wrapper">
				<div th:replace="fragments/breadcrumbs_admin::breadcrumbs(parent=帮助关于,current=关于系统)">面包屑栏</div>
				<section id="cd-timeline" class="cd-container">
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="fa fa-map-marker fa-2x"></i>
						</div>
						<div class="cd-timeline-content">
							<h2>V 3.0.1</h2>
							<p>1.升级到thymeleaf3.</p>
							<p>2.等等等等等等.</p>
							<span class="cd-date">2016-05-23</span>
						</div>
					</div>
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="fa fa-map-marker fa-2x"></i>
						</div>
						<div class="cd-timeline-content">
							<h2>V 2.0.1</h2>
							<p>1.修改了几个bug.</p>
							<p>2.完善了几个功能.</p>
							<span class="cd-date">2016-01-26</span>
						</div>
					</div>
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="fa fa-map-marker fa-2x"></i>
						</div>
						<div class="cd-timeline-content">
							<h2>V 0.9.0</h2>
							<p>1.修改了几个bug.</p>
							<p>2.完善了几个功能.</p>
							<span class="cd-date">2015-10-26</span>
						</div>
					</div>
				</section>
				<div th:replace="fragments/footer_admin">底部</div>
			</div>
		</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
<!--/* 当前页js */-->
<script th:src="@{/resources/vendor/tgCube/js/modernizr.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/timeline.js}"></script>
</html>