<!DOCTYPE HTML>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*******标题*******/-->
<title th:text="#{customer.systemTitle}">登录页面</title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!--/*******浏览器标题栏小图标favicon*******/-->
<link th:href="@{/resources/imgs/common/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
<!--/*******当前页 css*******/-->
</head>
<body>
	<p>欢迎界面</p>
</body>
</html>
