<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-用户权限-组织机构维度|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=site,child=adSlot)">菜单栏</div>
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>站点管理</cite></a> <a href="#">广告位管理</a> <a><cite>列表</cite></a>
					</span>
				</div>
				<blockquote class="layui-elem-quote layui-quote-nm" style="color: #FF5722">
					<i class="layui-icon">&#xe60b;</i> 广告位管理
				</blockquote>
				<blockquote class="layui-elem-quote layui-quote-nm">
					<div class="layui-inline">
						<div class="layui-input-inline">
							<a th:href="@{/admin/m/ext/adSlot/add.gsp}" class="layui-btn">新增</a>
						</div>
					</div>
				</blockquote>
				<table cellspacing="0" width="100%" class="layui-table" lay-even="" lay-skin="row">
					<thead>
						<tr>
							<th width="40">#</th>
							<th width="40">状态</th>
							<th>广告位名称</th>
							<th>广告位编码</th>
							<th>广告位类型</th>
							<th>模板</th>
							<th>宽度</th>
							<th>高度</th>
							<th>排序</th>
							<th width="90">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${adSlotList.records == null or adSlotList.records.size() == 0}">
							<td colspan="10" style="text-align: center;">暂时没有数据</td>
						</tr>
						<tr th:each="item,itemStat:${adSlotList.records}">
							<td th:text="${adSlotList.pageSize*(adSlotList.page-1)+itemStat.index+1}" style="text-align: center;"></td>
							<td class="layui-form"><input lay-filter="filter" th:id="${item.id}" lay-skin="switch" type="checkbox" th:attr="checked=${item.enabled ==1}"></td>
							<td th:text="${item.slotName}" style="text-align: center;"></td>
							<td th:text="${item.codeNum}" style="text-align: center;"></td>
							<td style="text-align: center;"><label th:if="${item.slotType==1}">图片</label> <label th:if="${item.slotType==2}">文字</label> <label th:if="${item.slotType==3}">FLASH</label> <label th:if="${item.slotType==4}">代码</label></td>
							<td th:text="${item.slotTemplate}" style="text-align: center;"></td>
							<td th:text="${item.width}" style="text-align: center;"></td>
							<td th:text="${item.height}" style="text-align: center;"></td>
							<td th:text="${item.sortOrder}" style="text-align: center;"></td>
							<td><a th:href="|@{/admin/m/ext/adSlot/edit_}${item.id}.gsp|" class="layui-btn layui-btn-small"> <i class="layui-icon"></i></a> <a th:onclick="|del('${item.id}')|" class="layui-btn layui-btn-normal layui-btn-small"> <i class="layui-icon"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
 var $ = layui.jquery;
    var form = layui.form();
    var enableUrl = /*[[@{/admin/m/ext/adSlot/enable_{id}.gsp}]]*/;
    var disableUrl = /*[[@{/admin/m/ext/adSlot/disable_{id}.gsp}]]*/;
    form.on('switch(filter)', function(data){
        var id = data.elem.id;
        if(!$("#" + data.elem.id).prop("checked")){  
            layer.confirm('您确定要停用吗？', {
                btn: ['确定','取消'] 
            }, function(){
             //停用
             var url = disableUrl.replace("{id}",data.elem.id);
             $.post(url,{'id':data.elem.id},function(){    
                 $("#" + data.elem.id).prop("checked", false);
                 $("#" + data.elem.id).next().removeClass("layui-form-onswitch");
             });  
             layer.msg('停用成功！', {icon: 1});
             setTimeout(function(){window.location.reload();},1000);
            }, function(){
                $("#" + data.elem.id).prop("checked", true);
                $("#" + data.elem.id).next().addClass("layui-form-onswitch");
            });
        }else if($("#" + data.elem.id).prop("checked")){   
            layer.confirm('您确定要启用吗？', {
                btn: ['确定','取消'] 
            }, function(){
          //启用
          var url = enableUrl.replace("{id}",data.elem.id);
          $.post(url,{'id':data.elem.id},function(){
              $("#" + data.elem.id).prop("checked", true);
              $("#" + data.elem.id).next().addClass("layui-form-onswitch");
          });
          layer.msg('启用成功！', {icon: 1});
          setTimeout(function(){window.location.reload();},1000);
          }, function(){
              $("#" + data.elem.id).prop("checked", false);
              $("#" + data.elem.id).next().removeClass("layui-form-onswitch");
          });
        }    
    });  
    
    var deleteUrl = /*[[@{/admin/m/ext/adSlot/delete_{id}.gsp}]]*/;
    function del(id){
        tg_deleteItem(deleteUrl.replace('{id}',id), function(){
            location.reload();
        });       
    }
    /*]]>*/
</script>
