<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-图灵谷-站点管理-广告位管理|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/***** 当前页css  start *****/-->
<link rel="stylesheet" type="text/css" th:href="@{/resources/vendor/tgCube/css/libs/dataTables.fixedHeader.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/vendor/tgCube/css/libs/dataTables.tableTools.css}" />
<!--/* Switch复选框按钮  修改是否可用用*/-->
<link th:href="@{/resources/vendor/bootstrap/plugins/toggle/css/bootstrap-toggle.min.css}" rel="stylesheet" />
<!--/***** 当前页css  end *****/-->
</head>
<body class="theme-turquoise fixed-header fixed-leftmenu fixed-footer">
	<div id="theme-wrapper">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div id="page-wrapper" class="container">
			<div th:replace="fragments/menu_admin::menu(root=plug,current=resume)">菜单栏</div>
			<div id="content-wrapper">
				<div th:replace="fragments/breadcrumbs_admin::breadcrumbs(parent=插件管理,current=招聘管理)">面包屑栏</div>
				<div class="main-box clearfix">
					<header class="main-box-header clearfix"> </header>
					<div class="main-box-body clearfix">
						<table id="dataTable" cellspacing="0" width="100%" class="table table-striped table-hover">
							<thead>
								<tr>
									<th width="60" class="text-center">序号</th>
									<th>姓名</th>
									<th>应聘职位</th>
									<th class="text-center">投递日期</th>
									<th class="text-center">性别</th>
									<th class="text-center">出生日期</th>
									<th class="text-center">手机</th>
									<th class="text-center">邮箱</th>
									<th class="text-center">期望薪水</th>
									<th width="90" class="text-center">操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<div th:replace="fragments/footer_admin">底部</div>
			</div>
		</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
<!--/***** 当前页js start *****/-->
<script th:src="@{/resources/vendor/tgCube/js/jquery.dataTables.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/dataTables.fixedHeader.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/dataTables.tableTools.js}"></script>
<script th:src="@{/resources/vendor/tgCube/js/jquery.dataTables.bootstrap.js}"></script>
<!--/* Switch复选框按钮  修改是否可用用*/-->
<script th:src="@{/resources/vendor/bootstrap/plugins/toggle/js/bootstrap-toggle.min.js}"></script>
<!--/* 模板引擎生成数据 */-->
<script th:inline="javascript">
/*<![CDATA[*/
//表格
var myTable;
//表格列定义
var columnDefs = [ {
    //第一列，用来显示序号
    "searchable" : false,
    "orderable" : false,
    "targets" : 0
} ];
var columns = [ {
    //第一列，用来显示序号
    "data" : null,
    "class":"text-center"
},{
	"data" : "username"
},{
    "data" : "applyPost"
},{
    "data" : "createDataTime",
    "class":"text-center"
},{
    "data" : "gender",
    "class":"text-center",
    render : function(data,type,row,meta){
        if(data==1){
            return '男';
        }else if(data==2){
            return '女';
        }else{
            return '';
        }
    }
},{
    "data" : "birthday",
    "class":"text-center"
},{
    "data" : "cellphoneNum",
    "class":"text-center"
},{
	"data" : "email",
    "class":"text-center"
},{
    "data" : "expectedSalary",
    "class":"text-center"
},{
    "data" : null,
    "class":"text-center", //最后一列，操作按钮
    render : function(data, type, row, meta) {
        var showCheck = /*[[${#checkAuth.checkAuth('resume_show')}]]*/'';
        var delCheck = /*[[${#checkAuth.checkAuth('resume_delete')}]]*/'';
        var showUrl = /*[[@{/admin/m/plug/resume/show_}]]*/
        var showUrlPath = showUrl + row.id + ".gsp"; 
    	//var deleteUrlPath = myTable.deleteUrl + row.id + ".gsp";
        var result = '';        
        if(showCheck){
          //修改按钮
            result += ' <a href="'+showUrlPath+'" data-target="#commonWin" data-toggle="modal" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>';
        }else{
            result += ' <a href="'+showUrlPath+'" data-target="#commonWin" data-toggle="modal" class="btn btn-primary btn-xs disabled"><i class="fa fa-eye"></i></a>';
        }
        if(delCheck){
            //删除按钮
            result += ' <a href="#" type="button" onclick="myTable.deleteItem(\'' + row.id + '\')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>';    
        }else{
            result += ' <a href="#" type="button" onclick="myTable.deleteItem(\'' + row.id + '\')" class="btn btn-danger btn-xs disabled"><i class="fa fa-trash-o"></i></a>';
        }  
        return result;
    } 
} ];
//ajax参数
var ajaxDataParamFun = function(d) {
    d.simpleQueryParam = $('#simpleQueryParam').val(); //模糊查询
};
//表格setting
var setting = {
    listUrl : /*[[@{/admin/m/plug/resume/list.gsp}]]*/'url',
    deleteUrl : /*[[@{/admin/m/plug/resume/delete_}]]*/'url',
    columnDefs : columnDefs, //表格列定义
    columns : columns, //表格列
    dataTableDiv : 'dataTable', //表格
    ajaxDataParamFun : ajaxDataParamFun, //ajax参数
    pageable : true, //是否分页
    showIndexColumn : true, //是否显示第一列的索引列
    enabledChange : true
};
//创建表格
myTable = new TG_Tabel.createNew(setting);
//加载完成后执行
$(function() {
    //表格初始化
    myTable.init();
});      
/*]]>*/
</script>
</html>