<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-图灵谷-全局配置-全局配置|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=custom,child=resume)">菜单栏</div>
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>插件管理</cite></a> <a href="#">招聘管理</a> <a><cite>列表</cite></a>
					</span>
				</div>
				<blockquote class="layui-elem-quote layui-quote-nm" style="color: #FF5722">
					<i class="layui-icon">&#xe60b;</i> 招聘管理
				</blockquote>
				<table id="dataTable" cellspacing="0" width="100%" class="layui-table" lay-even="" lay-skin="row">
					<thead>
						<tr>
							<th width="60" class="text-center">序号</th>
							<th>姓名</th>
							<th>应聘职位</th>
							<th class="text-center">投递日期</th>
							<th class="text-center">性别</th>
							<th class="text-center">出生日期</th>
							<th class="text-center">手机</th>
							<th class="text-center">邮箱</th>
							<th class="text-center">期望薪水</th>
							<th width="90" class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${resumeList.records == null or resumeList.records.size() == 0}">
							<td colspan="10" style="text-align: center;">暂时没有数据</td>
						</tr>
						<tr th:each="item,itemStat:${resumeList.records}">
							<td th:text="${itemStat.index+1}" style="text-align: center;"></td>
							<td th:text="${item.username}" style="text-align: center;"></td>
							<td th:text="${item.applyPost}" style="text-align: center;"></td>
							<td th:text="${item.createDataTime}==null?'':${#dates.format(item.createDataTime,'yyyy-MM-dd')}" style="text-align: center;"></td>
							<td style="text-align: center;"><label th:if="${item.gender==1}">男</label><label th:if="${item.gender==2}">女</label></td>
							<td th:text="${item.birthday}==null?'':${#dates.format(item.birthday,'yyyy-MM-dd')}" style="text-align: center;"></td>
							<td th:text="${item.cellphoneNum}" style="text-align: center;"></td>
							<td th:text="${item.email}" style="text-align: center;"></td>
							<td th:text="${item.expectedSalary}" style="text-align: center;"></td>
							<td><a th:href="|@{/admin/m/plug/resume/edit_}${item.id}.gsp|" class="layui-btn layui-btn-small"> <i class="layui-icon"></i></a> <a th:onclick="|del('${item.id}')|" class="layui-btn layui-btn-normal layui-btn-small"> <i class="layui-icon"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部</div>
	</div>
	</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
    var $ = layui.jquery;
    var deleteUrl = /*[[@{/admin/m/plug/resume/delete_{id}.gsp}]]*/;
    function del(id){
        tg_deleteItem(deleteUrl.replace('{id}',id), function(){
            location.reload();
        });       
    }
    /*]]>*/
</script>