<!--/*******底部引入js*******/-->
<!--/* Toastr */-->
<script th:src="@{/resources/vendor/other/toastr/toastr.min.js}"></script>
<!--/* Mainly scripts */-->
<script th:src="@{/resources/vendor/tgLayui/lay/dest/layui.all.js}" charset="utf-8"></script>
<script th:src="@{/resources/js/common/tg_common.js}" charset="utf-8"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var BASE_URL = /*[[@{/}]]*/;
    layui.use('util', function(){
        var util = layui.util;
        //使用内部工具组件
        util.fixbar();
      });
    /*]]>*/
</script>