<!--/*******菜单栏*******/-->
<div th:fragment="menu(parent,child)" class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<ul class="layui-nav layui-nav-tree site-demo-nav">
			<li class="layui-nav-item" style="height: 5px; text-align: center"><a title="糖果cms"> <i class="layui-icon" style="font-size: 16px;"></i>
			</a></li>

			<!--/* 系统首页 */-->
			<li class="layui-nav-item" th:classappend="${parent=='index'} ? 'layui-nav-itemed'"><a th:href="@{/admin/index.gsp}">系统首页</a></li>

			<!--/* 内容管理 */-->
			<li class="layui-nav-item" th:classappend="${parent == 'content'}? 'layui-nav-itemed':(${parent == 'content'}? 'layui-nav-itemed')"><a href="javascript:;"> 内容管理</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='info'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/info/list.gsp}"> <i class="layui-icon">&#xe609;</i> <cite> 文章管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='special'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/special/list.gsp}"> <i class="layui-icon">&#xe628;</i> <cite> 专题管理</cite>
						</a>
					</dd>
					<!-- <dd th:classappend="${child=='comment'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/guestbook/list.gsp}"> <i class="layui-icon">&#xe628;</i> <cite> 评论管理</cite>
						</a>
					</dd> -->
					<dd th:classappend="${child=='guestbook'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/guestbook/list.gsp}"> <i class="layui-icon">&#xe637;</i> <cite> 留言管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='tag'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/tag/list.gsp}"> <i class="layui-icon">&#xe637;</i> <cite> TAG管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='friendlink'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/friendlink/list.gsp}"> <i class="layui-icon">&#xe637;</i> <cite> 友情链接</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='vote'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/vote/list.gsp}"> <i class="layui-icon">&#xe637;</i> <cite> 投票管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='ad'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/ad/list.gsp}"> <i class="layui-icon">&#xe637;</i> <cite> 广告管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='question'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/question/list_null.gsp}"> <i class="layui-icon">&#xe637;</i> <cite> 问卷管理</cite>
						</a>
					</dd>
				</dl></li>

			<!--/* 素材管理 */-->
			<li class="layui-nav-item" th:classappend="${parent == 'material'}? 'layui-nav-itemed'"><a href="javascript:;"> 素材管理</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='image'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/image/list.gsp}"> <i class="layui-icon">&#xe63c;</i> <cite> 图片管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='video'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/video/list.gsp}"> <i class="layui-icon">&#xe627;</i> <cite> 视频管理</cite>
						</a>
					</dd>
					<!-- <dd th:classappend="${child=='doc'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/doc/list.gsp}"> <i class="layui-icon">&#xe627;</i> <cite> 文档管理</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='file'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/file/list.gsp}"> <i class="layui-icon">&#xe627;</i> <cite> 文件管理</cite>
						</a>
					</dd> -->
				</dl></li>

			<!--/*站点管理 */-->
			<li class="layui-nav-item" th:classappend="${parent == 'site'}? 'layui-nav-itemed'"><a href="javascript:;"> 站点管理</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='node'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/node/list.gsp}"> <i class="layui-icon">&#xe641;</i> <cite> 栏目管理</cite>
						</a>
					</dd>
					<!-- <dd th:classappend="${child=='collect'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/collect/list.gsp}"> <i class="layui-icon">&#xe612;</i> <cite> 采集管理 </cite>
						</a>
					</dd> -->
					<dd th:classappend="${child=='specialType'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/specialType/list.gsp}"> <i class="layui-icon">&#xe613;</i><cite> 专题分类</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='guestbookType'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/guestbookType/list.gsp}"> <i class="layui-icon">&#xe613;</i><cite> 留言板类型 </cite>
						</a>
					</dd>
					<dd th:classappend="${child=='friendlinkType'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/friendlinkType/list.gsp}"> <i class="layui-icon">&#xe613;</i><cite> 友情链接类型 </cite>
						</a>
					</dd>
					<dd th:classappend="${child=='adSlot'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/adSlot/list.gsp}"> <i class="layui-icon">&#xe613;</i><cite> 广告位管理 </cite>
						</a>
					</dd>
				</dl></li>

			<!--/* 插件管理 */-->
			<li class="layui-nav-item" th:classappend="${parent == 'custom'}? 'layui-nav-itemed'"><a href="javascript:;">插件管理</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='resume'} ? 'layui-this'">
						<a th:href="@{/admin/m/plug/resume/list.gsp}"> <i class="layui-icon">&#xe600;</i> <cite> 招聘管理</cite>
						</a>
					</dd>
				</dl></li>

			<!--/* 全局配置 */-->
			<li class="layui-nav-item" th:classappend="${parent=='gconfig'} ? 'layui-nav-itemed'"><a href="javascript:;"> 全局配置</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='publishPoint'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/publishPoint/list.gsp}"> <i class="layui-icon">&#xe638;</i> <cite> 发布点配置 </cite>
						</a>
					</dd>
					<dd th:classappend="${child=='global'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/global/list.gsp}"> <i class="layui-icon">&#xe631;</i> <cite> 全局参数</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='template'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/template/list.gsp}"> <i class="layui-icon">&#xe631;</i> <cite> 模板配置</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='model'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/model/list.gsp}"> <i class="layui-icon">&#xe631;</i> <cite> 模型配置 </cite>
						</a>
					</dd>
					<dd th:classappend="${child=='attr'} ? 'layui-this'">
						<a th:href="@{/admin/m/base/attr/list.gsp}"> <i class="layui-icon">&#xe631;</i> <cite> 文章属性 </cite>
						</a>
					</dd>
					<dd th:classappend="${child=='scoreGroup'} ? 'layui-this'">
						<a th:href="@{/admin/m/ext/scoreGroup/list.gsp}"> <i class="layui-icon">&#xe631;</i> <cite> 评分组配置</cite>
						</a>
					</dd>
				</dl></li>

			<!--/* 公共部分  */-->
			<li class="layui-nav-item" th:classappend="${parent=='uum'} ? 'layui-nav-itemed'"><a href="javascript:;"> 用户权限</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='user'} ? 'layui-this'">
						<a th:href="@{/admin/c/user/list.gsp}"> <i class="layui-icon">&#xe605;</i> <cite> 用户管理</cite>
						</a>
					</dd>
				</dl></li>
			<li class="layui-nav-item" th:classappend="${parent=='monitor'} ? 'layui-nav-itemed'"><a href="javascript:;"> 系统监控</a>
				<dl class="layui-nav-child">
					<dd th:classappend="${child=='logLoginList'} ? 'layui-this'">
						<a th:href="@{/admin/c/monitor/log/listLogin.gsp}"> <i class="layui-icon">&#xe605;</i> <cite> 登录日志</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='logOperateList'} ? 'layui-this'">
						<a th:href="@{/admin/c/monitor/log/listOperate.gsp}"> <i class="layui-icon">&#xe605;</i> <cite> 操作日志</cite>
						</a>
					</dd>
					<dd th:classappend="${child=='sysinfo'} ? 'layui-this'">
						<a th:href="@{/admin/c/monitor/sysinfo/list.gsp}"> <i class="layui-icon">&#xe605;</i> <cite> 系统信息</cite>
						</a>
					</dd>
				</dl></li>
			<li class="layui-nav-item" th:classappend="${parent=='about'} ? 'layui-this'"><a th:href="@{/admin/c/index/about.gsp}"> 关于系统</a></li>
		</ul>
	</div>
</div>