<!--/*******导航栏*******/-->
<div class="layui-header header header-demo">
	<div class="layui-main">
		<a class="logo" th:href="@{/index.htm}"> <img th:src="@{/resources/imgs/common/logo.png}" alt="17企航">
		</a>
		<ul class="layui-nav">
			<li class="layui-nav-item" th:classappend="${nodeCodeNum=='selfCenter'} ? 'layui-this'" th:if="${session.SPRING_SECURITY_CONTEXT!=null}"><a th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" href="javascript:;">姓名</a>
				<dl class="layui-nav-child">
					<dd>
						<a th:href="@{/admin/c/user/updateCurrentUser.gsp}" data-target="#commonSmWin" data-toggle="modal">个人信息</a>
					</dd>
					<dd>
						<a th:href="@{/admin/c/user/editPass.gsp}" data-target="#commonSmWin" data-toggle="modal">修改密码</a>
					</dd>
					<!-- <dd>
						<a type="button" onclick="tg_lockScreen()" title="锁定系统">锁定系统 </a>
					</dd> -->
					<dd>
						<a th:href="@{/logout}" title="退出系统"><i class="fa fa-power-off"></i>退出系统 </a>
					</dd>
				</dl></li>
		</ul>
	</div>
</div>