<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-图灵谷-全局配置-全局配置|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=gconfig,child=model)">菜单栏</div>
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>全局配置</cite></a> <a th:href="@{/admin/m/base/model/list.gsp}">模型配置</a> <a><cite>新增</cite></a>
					</span>
				</div>
				<blockquote class="layui-elem-quote layui-quote-nm" style="color: #FF5722">
					<i class="layui-icon">&#xe60b;</i> 模型配置
				</blockquote>
				<form th:action="@{/admin/m/base/model/add.gsp}" id="addForm" role="form" class="layui-form" action="#" method="post">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>新增模型</legend>
					</fieldset>
					<div class="layui-form-item">
						<label class="layui-form-label">类 型：<span style="color: red">*</span></label>
						<div class="layui-input-block">
							<select name="type">
								<option value="info">文档模型</option>
								<option value="node">栏目模型</option>
								<option value="special">专题模型</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">模型名称：<span style="color: red">*</span></label>
						<div class="layui-input-block">
							<input name="modelName" class="layui-input" lay-verify="modelName" placeholder="请输入模型名称" type="text" maxlength="21" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">备 注：</label>
						<div class="layui-input-block">
							<textarea name="description" class="layui-textarea" lay-verify="description" placeholder="请输入模型名称" type="text" maxlength="150"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit="" lay-filter="submit1">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
    var form = layui.form();
    //自定义验证规则
    form.verify({
        modelName : function(value) {
            if (value.length < 2) {
                return '模型名称至少得2个字哦！';
            } else if (value.length > 20) {
                return '模型名称不能太长哦，最长20个字！';
            }
        },
        description : function(value) {
            if (value.length > 140) {
                return '描述不能太长哦，最长140个字！';
            }
        }
    });
    //监听提交
    form.on('submit(submit1)', function(data) {
    });
    /*]]>*/
</script>