<!--/*******底部引入js*******/-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var BASE_URL = /*[[@{/}]]*/;
    /*]]>*/
</script>

<script th:src="@{/template/default/_resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/template/default/_resources/js/responsive-nav.js}"></script>
<script type="application/x-javascript">
     addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
