<!--/*******导航栏*******/-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="menu-container page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">导航按钮</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#body"> <img class="img-responsive" th:src="@{/template/default/_resources/imgs/logo_w.png}" alt="图灵谷">
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class="menu-container">
				<ul class="nav navbar-nav">
					<li class="page-scroll home"><a href="#body"><span data-hover="Turingoal">图灵谷科技</span></a></li>
					<li class="page-scroll"><a href="#services"><span data-hover="Services">主要业务</span></a></li>
					<li class="page-scroll"><a href="#culture"><span data-hover="Culture">企业文化</span></a></li>
					<li class="page-scroll"><a href="#projects"><span data-hover="Projects">典型案例</span></a></li>
					<li class="page-scroll"><a href="#clients"><span data-hover="Clients">合作伙伴</span></a></li>
					<li class="page-scroll"><a href="#contact"><span data-hover="Contact">联系我们</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>