<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-图灵谷-全局配置-全局配置|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=gconfig,child=template)">菜单栏</div>
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>全局配置</cite></a> <a th:href="@{/admin/m/base/template/list.gsp}">模版配置</a> <a><cite>列表</cite></a>
					</span>
				</div>
				<blockquote class="layui-elem-quote layui-quote-nm" style="color: #FF5722">
					<i class="layui-icon">&#xe60b;</i> 模版配置
				</blockquote>
				<div style="display: inline-block; width: 300px; height: 300px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
					<ul id="fileTreeView"></ul>
				</div>
				<div id="fileListTable" class="site-tips" style="display: inline-block; height: 200px; width: 485px; padding: 10px; margin-left: 10px; vertical-align: top;"></div>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
    var nodes = [];
   
    //获取目录
    var codeNum = /*[[${result.codeNum}]]*/;
    $.ajax({
        type: "POST",
        url: /*[[@{/admin/m/base/template/getFileTree.gsp}]]*/,
        data: {codeNum:codeNum},
        dataType: "json",
        async:false,
        success: function(data){                                     
            var nodeList=data.obj.nodes;
            listNodes(nodes,nodeList);
        }
    });
    //console.log(nodes); 
    layui.tree({
        elem : '#fileTreeView', //指定元素      
        target : '_blank', //是否新选项卡打开（比如节点返回href才有效）       
        click : function(item) { //点击节点回调
            var url = /*[[@{/admin/m/base/template/getFilesByPath.gsp}]]*/;
            $.post(url,{parentPath:item[0][0].filePath},function(data){
                console.log(data);
                $('#fileListTable').empty();
                $('#fileListTable').append(
                      '<table id="fileListTable" class="layui-table" lay-even="" lay-skin="row">'+
                        '<thead><tr>'+
	                       '<th width="40">#</th>'+
	                       '<th>名称</th>'+
	                       '<th>类型</th>'+
	                       '<th>大小</th>'+
	                       '<th>操作</th>'+
	                          '</tr></thead>'+ 
                        '<tbody><tr th:if="${data == null or data.size() == 0}">'+
	                       '<td colspan="5" style="text-align: center;">暂时没有数据</td></tr>'+
	                       '<tr><td th:text="${itemStat.index+1}" style="text-align: center;"></td>'+
	                       '<td th:text="${item.fileName}" style="text-align: center;"></td>'+
	                       '<td th:text="${item.format}" style="text-align: center;"></td>'+
	                       '<td th:text="${item.fileLength}" style="text-align: center;"></td>'+
	                       '<td></td><tr>'+
                       '</tbody></table>');
            });            
        },
        nodes :nodes
    });
    
    function listNodes(parent,nodeList){
        nodeList.forEach(function(e) {
            var node = {};
            node["name"] = e.text;
            if(e.nodes.length>0){
                var chr = [];
                listNodes(chr,e.nodes);
                node["children"] = chr;
            }
            parent.push(node);
        })
    }
    /*]]>*/
</script>