<form th:action="@{/admin/c/resource/edit.gsp}" th:object="${result}" id="editForm" class="form-horizontal" role="form" action="#" method="post">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">修改资源信息</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<input th:field="*{id}" type="text" hidden="true" /> <input th:field="*{parentId}" type="text" hidden="true" />
				<div class="form-group">
					<label class="col-xs-3 control-label"><label class="text-danger">*</label> 资源类型： </label>
					<div class="col-xs-7">
						<select class="form-control" th:field="*{type}">
							<option value="1">菜单</option>
							<option value="2">按钮</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label"><label class="text-danger">*</label> 资源名称： </label>
					<div class="col-xs-7">
						<input th:field="*{resourceName}" placeholder="请输资源名称" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label"><label class="text-danger">*</label> 资源标志： </label>
					<div class="col-xs-7">
						<input th:field="*{permission}" placeholder="请输资源标志" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">资源URI：</label>
					<div class="col-xs-7">
						<input th:field="*{permValue}" placeholder="请输资源URI" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">资源代码：</label>
					<div class="col-xs-7">
						<input th:field="*{codeNum}" placeholder="请输资源代码" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">icon名称：</label>
					<div class="col-xs-7">
						<input th:field="*{iconCls}" placeholder="请输icon名称" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label"><label class="text-danger">*</label> 排序： </label>
					<div class="col-xs-7">
						<input class="form-control" value="0" placeholder="请输入排序" type="text" th:field="*{sortOrder}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">资源简介：</label>
					<div class="col-xs-7">
						<textarea class="form-control" placeholder="最多输入140字" th:field="*{description}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">
			<strong>提 交</strong>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">
    /*_$tag____*/
    $(function() {
        var rules = {
            resourceName : {
                required : true,
                maxlength : 20
            },
            permission : {
                required : true,
                maxlength : 50
            },
            permValue : {
                maxlength : 100
            },
            code : {
                maxlength : 80
            },
            iconCls : {
                maxlength : 30
            },
            sortOrder : {
                required : true,
                max : 99
            },
            description : {
                maxlength : 140
            }
        }
        var messages = {

        }
        tg_baseFormAjaxSubmit("editForm", rules, messages, function() {
            location.href = /*[[@{/admin/c/resource/list.gsp}]]*/'';
        });
    });
    /*_$t*/
</script>
