<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>spring 国际化</description>

    <!-- json中文乱码问题 -->
    <bean
        class="com.turingoal.common.util.spring.SpringUTF8StringBeanPostProcessor"></bean>

    <!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
    <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 -->
                <value>classpath:messages/messages</value>
                <value>classpath:org/springframework/security/messages</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false" />
        <property name="defaultEncoding" value="UTF-8" />
        <!-- -1表示不用刷新 -->
        <property name="cacheSeconds" value="-1" />
    </bean>

    <!-- 本地化解析器 。此处使用cookie存储，也可以选择其他的，如Session-->
    <bean id="localeResolver"
        class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="language" />
        <!-- -1表示不用刷新 -->
        <property name="cookieMaxAge" value="-1" />
        <property name="defaultLocale" value="zh_CN" />
    </bean>
</beans>