<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="3.1">
	<display-name>tg-cms</display-name>
	<description>图灵谷cms</description>
	<!--characterEncodingFilter -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--Spring Security 该filter一定要定义在其它如SpringMVC等拦截请求之前 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- spring 配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-config/spring-base.xml</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>production</param-value>
	</context-param>
	<!-- spring listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- spring security session listener -->
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher
		</listener-class>
	</listener>
	<!--spring servlet -->
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-config/spring-servlet-admin.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/resources/vendor/ueditor/jsp/controller.gsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fore</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-config/spring-servlet-fore.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>fore</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<!-- session 超时配置 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- 错误页面 -->
	<error-page>
		<error-code>400</error-code>
		<location>/resources/html/errors/error_400.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/resources/html/errors/error_400.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/resources/html/errors/error_403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/resources/html/errors/error_404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/resources/html/errors/error_405.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/resources/html/errors/error_500.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/resources/html/errors/error_500.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/resources/html/errors/error_503.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/resources/html/errors/error_exception.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
</web-app>