<form th:action="@{/admin/m/base/special/edit.gsp}" th:object="${result}" id="editForm" class="form-horizontal" role="form" action="#" method="post">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">修改专题</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<input th:field="*{id}" type="text" hidden="true" /> 
				<div class="form-group">
					<label class="col-md-3 control-label">专题类别<label class="text-danger">*</label>：</label>
					<div class="col-md-7">
						<select class="form-control" th:field="*{typeId}">
							<option th:each="data : ${specialTypes}" th:value="${data.id}" th:text="${data.typeName}">typeName</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">专题标题<label class="text-danger">*</label>：</label>
					<div class="col-md-7">
						<input th:field="*{title}" placeholder="请输入专题标题" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">专题模型<label class="text-danger">*</label>：</label>
					<div class="col-md-7">
						<select class="form-control" th:field="*{modelId}">
							<option th:each="data : ${models}" th:value="${data.id}" th:text="${data.modelName}">modelName</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">专题模板<label class="text-danger">*</label>：</label>
					<div class="col-md-7">
						<select class="form-control" th:field="*{specialTemplate}">
							<option value="1">是</option>
							<option value="2">否</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">是否推荐：</label>
					<div class="col-md-7">
						<select class="form-control" th:field="*{recommend}">
							<option value="1">是</option>
							<option value="2">否</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">关键字：</label>
					<div class="col-md-7">
						<input th:field="*{metaKeywords}" placeholder="请输入关键字" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">描述：</label>
					<div class="col-md-7">
						<textarea th:field="*{metaDescription}" rows="4" class="form-control" placeholder="最多输入140字"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">
			<strong>提 交</strong>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
        var rules = {
            title : {
                required : true,
                maxlength : 40
            },
            metaKeywords : {
				maxlength : 100
            },
            metaDdescription : {
                maxlength : 140
            }
        }
        var messages = {

        }
        myTable.add('commonWin', 'editForm', rules, messages);
    });
    /*]]>*/
</script>
