<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{customer.systemTitle}-内容管理-专题管理|">图灵谷</title>
<div th:replace="fragments/head_admin">head</div>
<!--/***** 当前页css  start *****/-->
<!--/***** 当前页css  end *****/-->
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div th:replace="fragments/nav_admin">导航栏</div>
		<div th:replace="fragments/menu_admin::menu(parent=content,child=special)">菜单栏</div>
		<!--/*******内容*******/-->
		<div class="layui-body">
			<div class="layui-main">
				<!--/***** 面包屑 *****/-->
				<div class="layui-elem-quote" style="margin-top: 10px;">
					<span class="layui-breadcrumb"> <a><cite>内容管理</cite></a><a th:href="@{/admin/m/base/special/list.gsp}">专题管理</a><a><cite>列表</cite></a>
					</span>
				</div>
				<!--/*******操作*******/-->
				<form th:action="@{/admin/m/base/special/list.gsp}" method="get">
					<div class="layui-form-item">
						<blockquote class="layui-elem-quote layui-quote-nm">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<a th:href="@{/admin/m/base/special/add.gsp}" class="layui-btn"><i class="layui-icon">&#xe61f;</i> 新增</a>
								</div>
							</div>
							<div class="layui-inline" style="float: right;">
								<div class="layui-input-inline" style="width: 200px;">
									<input type="text" name="type" value="2" hidden="hidden"> <input type="search" id="simpleQueryParam" name="simpleQueryParam" placeholder="关键字" autocomplete="off" class="layui-input">
								</div>
								<button class="layui-btn" lay-submit="" lay-filter="searchForm">
									<i class="layui-icon">&#xe615;</i>
								</button>
							</div>
						</blockquote>
					</div>
				</form>
				<!--/***** 列表 *****/-->
				<table class="layui-table" lay-even="" lay-skin="row">
					<thead id="dataTable">
						<tr>
							<th style="width: 40px">#</th>
							<th>状态</th>
							<th>标题</th>
							<th>专题类别</th>
							<th>浏览总数</th>
							<th>是否推荐</th>
							<th>创建日期</th>
							<th style="width: 140px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${specialList.records == null or specialList.records.size() == 0}">
							<td colspan="8" style="text-align: center;">暂时没有数据</td>
						</tr>
						<tr th:each="item,items:${specialList.records}">
							<td th:text="${specialList.pageSize*(specialList.page-1)+items.index+1}" style="text-align: center;">序号</td>
							<td th:text="${item.enabled}">状态</td>
							<td th:text="${item.title}">标题</td>
							<td th:text="${item.typeName}">专题类型</td>
							<td th:text="${item.viewsCount}">浏览总数</td>
							<td th:text="${item.recommend==1?'是':'否'}">是否推荐</td>
							<td th:text="${item.createDataTime}">创建日期</td>
							<td style="text-align: center;"><a class="layui-btn layui-btn-small layui-btn-primary" th:href="@{/admin/m/base/special/infoList_{id}.gsp(id=${item.id})}"><i class="layui-icon">&#xe615;</i></a><a class="layui-btn layui-btn-small"
								th:href="@{/admin/m/base/special/edit_{id}.htm(id=${item.id})}"><i class="layui-icon">&#xe642;</i></a>
								<button class="layui-btn layui-btn-small layui-btn-normal" th:onclick="|deleted('${item.id}')|">
									<i class="layui-icon">&#xe640;</i>
								</button></td>
						</tr>
					</tbody>
				</table>
				<div id="pageDiv"></div>
			</div>
		</div>
		<div th:replace="fragments/footer_admin">底部版权信息等</div>
	</div>
</body>
<div th:replace="fragments/import_js_admin">引入js</div>
<!--/***** 当前页js start *****/-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var result = /*[[${specialList}]]*/;
    $(function(){
        $("#simpleQueryParam").val(GetQueryString("simpleQueryParam"));
        var option = {
            listUrl : /*[[@{/admin/m/base/special/list.gsp?}]]*/,
            totalPages : result.totalPages,
            page : result.page,
            param : {
                simpleQueryParam
            }
        };
        tg_basePage(option);
    })

    var deleteUrl = /*[[@{/admin/m/base/special/delete_{id}.htm}]]*/;
    function deleted(id) {
        tg_deleteItem(deleteUrl.replace('{id}',id), function(){
            location.reload();
        });
    }
    /*]]>*/
</script>
<!--/***** 当前页js end *****/-->
</html>